#ignore all files
*
!*/

#except the following files
!.gitignore
!*.jpg
!*.gif
!*.htm
!*.html
!*.mp3
!*.txt
!*.pdf
!*.scss
!*.css
!*.js
!*.js.map
!*.eot
!*.ttf
!*.woff


#except the following folders
